@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@keyframes fade {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
    90% {
        opacity: 1;
        transform: translateY(0px);
    }
    95% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: translateY(-30px);
    }        
}
@keyframes progress {
    to {
        width: calc(100% - 10px);
    }
}

:root{
    --cor01: #ecacac;
    --cor02: #734949; 
    --cor03: #ca4a4a;
    --cor04: #732727;
    --cor05: #cf9e9e;
}

body {
    background-color: rgb(245, 216, 227);
    margin: 0px;
    padding: 0px;
    min-width: 300px;
    background-size: 100vw;
}
div {
    text-align: center;
    background-position: center top;
}
.noti {
    position: fixed;
    display: inline-block;
    max-width: 300px;
    padding: 20px 15px;
    border-radius: 4px;
    background-color: #734949;
    color: aliceblue;
    font-family: Rajdhani;
    box-shadow: 0 1px 10px rgba (0, 0, 0, .1);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade 4s linear forwards;
    text-align: center;
}
.progress {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 0;
    height: 3px;
    background-image: linear-gradient(to right, #ecacac, #ca4a4a );
    border-radius: 4px;
    animation: progress 3s 0.25s linear forwards;
    background-position: center top;
}

header{
    background-color: var(--cor05);
    background-attachment: fixed;
    background-size: 100vw;
    min-width: 300px;
    height: 25vh;
    font-family: Fjalla One;
    margin:0px;
    padding: 2vh;

}

header > h1 {
    font-size: 7vw;
    text-align: center;
    text-overflow: clip;
    margin: 0px;
    padding: 5vh 0px 0px 0px;
    background-attachment: fixed;
}   

nav {
    background-color: var(--cor05);
    padding: 9px;
    margin:0px;
}
nav > a {
    font-family: Fjalla One;
    font-size: 1.5vw;
    text-decoration: none;
    color: var(--cor04);
    padding: 7px
}
nav > a:hover{
    background-image: linear-gradient(to bottom, var(--cor01), var(--cor05) );
    border-radius: 4px;
}
main {
   font-family: Rajdhani;
   font-weight: bold;
   display: inline-block;
}
main > section {
    display: inline-block;
    padding: 20px;
    background-color: var(--cor05);
    border-radius: 10px;
    margin: 2.5vw; 
}

aside > h1{
    font-family: Fjalla One;
    font-size: 7vh;
    text-align: left;
    margin-left: 20px;
    background-image: linear-gradient(to left,var(--cor02), var(--cor05)30%, transparent);
}
aside {
    text-align: center;
}
aside > a { 
    text-decoration: none;
    padding: 20px 
}
aside > a:hover {
    background-image: linear-gradient(to top, white, transparent);
    border-radius: 50%;
}
footer {
    background-color: rgb(201, 177, 183);
    font-family: Rajdhani;
    font-size: 2vh;
    margin-top: 40px;
    min-width: 300px;
}
footer > ul {
    list-style-type: none;
    display: inline-block;
}
footer > ul > p {
    text-decoration: none;
    font-weight: bold;
}
footer > ul > li > a {
    text-decoration: none;
    color: rgb(15, 15, 15);
}
footer > ul > li > a:hover {
    text-decoration: underline;
}

footer > p {
    background-color: transparent;
    text-align: center;
    font-family: Fjalla One;
    font-size: 1vw;
    margin: 25px 0px 0px 0px;
}
p > a {
    text-decoration: none;
    color: var(--cor04);
}